* {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

body {
    background: #F3F2F8;
}

#calc_top {
    background: white;
    border-radius: 13px;
    height: 80px;
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
}

#calc_body {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 13px;
    overflow: hidden;
    user-select: none;
}

#calc_body>div {
    background: white;
    width: calc((100% - 3px) / 4);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calc_body>div:hover {
    background: #E6E5EB;
}

.br {
    border-right: 1px solid #ededed;
}

.bt {
    border-top: 1px solid #ededed;
}

.del {
    background: #FF3B2F !important;
    display: flex;
    align-items: center;
    justify-content: center;
}


.divide {
    font-size: 20px;
}

.multiply {
    line-height: 58px !important;
}

#top_bar {
    display: flex;
    justify-content: space-between;
    color: #0878F0;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    box-sizing: border-box;
    font-weight: bold;
}

#top_bar>span {
    display: flex;
    align-items: center;
}