* {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: 'Yuanti SC', 'PingFangSC-Regular';
}
html {
    touch-action: manipulation;
}
body {
    background: #F3F2F8;
}

#calc_top {
    background: white;
    border-radius: 13px;
    height: 80px;
    width: 300px;
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
}

#calc_body {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 13px;
    overflow: hidden;
    user-select: none;
}

#calc_body>div {
    background: white;
    width: calc((100% - 2px) / 3);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calc_body>div:focus {
    background: #E6E5EB;
}

.br {
    border-right: 1px solid #ededed;
}

.bt {
    border-top: 1px solid #ededed;
}


#top_bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    color: #0878F0;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    font-weight: bold;
}

#top_bar>span {
    display: flex;
    align-items: center;
}